body,
body * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   display: flex;
   font-size: 24px;
}

body {
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,207cca+54,2989d8+58,7db9e8+100 */
   background: #1e5799;
   /* Old browsers */

   background: linear-gradient(to bottom,
         #1e5799 0%,
         #207cca 54%,
         #2989d8 58%,
         #7db9e8 100%) no-repeat;
   /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=0);
   /* IE6-9 */

   height: 100vh;
   min-width: 600px;
   flex-flow: column nowrap;
   justify-content: center;
   align-items: stretch;
   padding: 60px;
}

header {
   color: blue;
   justify-content: center;
   align-items: center;
   width: fit-content;
   flex: 1 0%;
   margin: 0 auto;
   padding-bottom: 60px;
   font-size: 38px;
   color: white;
   line-height: 15rem;
}

span {
   font-size: 46px;
   margin-left: 30px;
}

#interrogation {
   padding: 25px;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   background: blue;
   color: white;
   justify-content: center;
   align-items: center;
   font-size: 40px;
   margin-left: 60px;
}

#interrogation:hover {
   background: #88f;
   cursor: pointer;
}

main {
   margin-top: 60px;
   flex: 5 0;
   height: 380px;
   width: 100%;
   flex-flow: row nowrap;
}

section.vareta {
   flex-flow: column-reverse nowrap;
   flex: 1 0 200px;
   height: 100%;
   justify-content: flex-start;
   align-content: flex-end;
   align-items: center;
   padding: 20px;
   padding-bottom: 120px;
}

section.vareta:hover {
   background: #ffffff10;
}

section.vareta:hover .disco:last-child {
   box-shadow: inset 0 0 20px 20px #ccc9, inset 4px 6px 8px 2px #ffe6, inset 0 -10px 10px 10px #000a, 2px 6px 6px 2px #000c;
}

.disco {
   background: white;
   border-radius: 50%;
   box-shadow: inset 4px 6px 8px 2px #ffe6, inset 0 -10px 10px 10px #000a, 2px 6px 6px 2px #000c;
}

.selected {
   box-shadow: inset 0 0 20px 20px #ccc9, inset 4px 6px 8px 2px #ffe6, inset 0 -10px 10px 10px #000a, 2px 6px 6px 2px #ffc !important;
}

#disco1 {
   flex: 0 0 280px;
   width: 280px;
   margin-top: -220px;
   background: #f98989;
}

#disco2 {
   flex: 0 0 240px;
   width: 240px;
   margin-top: -180px;
   background: #8a8ff7;
}

#disco3 {
   flex: 0 0 190px;
   width: 190px;
   margin-top: -120px;
   background: #89f49b;
}

#disco4 {
   flex: 0 0 130px;
   width: 130px;
   background: #e9f28a;
}